[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

# https://peps.python.org/pep-0621/
[tool.poetry]
authors = ["Prowler Team <engineering@prowler.com>"]
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: Apache Software License"
]
description = "This is a Python implementation of the OCSF models. The models are used to represent the data of the OCSF Schema defined in https://schema.ocsf.io/."
license = "Apache-2.0"
maintainers = [
  "Sergio Garcia <sergio@prowler.com>",
  "Pepe Fagoaga <pepe@prowler.com>"
]
name = "py-ocsf-models"
packages = [
  {include = "py_ocsf_models"}
]
readme = "README.md"
version = "0.0.2"

[tool.poetry.dependencies]
email-validator = "2.1.0.post1"
pydantic = "1.10.14"
python = ">=3.9,<3.13"

[tool.poetry.group.dev.dependencies]
bandit = "1.7.7"
black = "22.12.0"
flake8 = "6.1.0"
mypy = "1.9.0"
pylint = "3.0.2"
pytest = "8.0.2"
pytest-cov = "4.1.0"
pytest-env = "1.1.3"
pytest-randomly = "3.15.0"
pytest-xdist = "3.5.0"
ruff = "0.3.2"
safety = "2.3.5"
vulture = "2.10"

[tool.poetry.urls]
"Changelog" = "https://github.com/prowler-cloud/py-ocsf-models/releases"
"Documentation" = "https://docs.prowler.cloud"
"Homepage" = "https://github.com/prowler-cloud/py-ocsf-models"
"Issue tracker" = "https://github.com/prowler-cloud/py-ocsf-models/issues"

[tool.poetry-version-plugin]
source = "init"
